[submodule "package"]
	path = package
	url = https://github.com/m-lab/package
[submodule "ndt"]
	path = ndt 
	url = https://github.com/m-lab/ndt
[submodule "I2util"]
	path = I2util
	url = https://github.com/m-lab/I2util-archive
